---
import Layout from '../layouts/Layout.astro';
import Header from "../components/header.astro";
import under_construction from '../assets/under-construction.png';
---

<Layout>
	<div id="container-main">
		<Header />
		<div class="section-main">
			<h2>Música</h2>
			<img class="wip-image" src={under_construction.src} alt="Under Construction">
		</div>
	</div>
</Layout>

<style>
	#container-main {
		height: 100%;
		width: 100%;
		background-image: linear-gradient(180deg, var(--background-1) 0%, var(--background-2) 100%);
	}

	.section-main {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			height: calc(100% - 85.88px);
	}

	.wip-image {
		width: 250px;
		height: auto;
	}
</style>
