---

---
<header class="header-main">
	<a class="logo" href="/">KuryArt</a>
	<div class="menu-top">
		<a href="/dev">Dev</a>
		<a href="/musica">Música</a>
		<a href="/literatura">Literatura</a>
		<a href="/game">Game</a>
		<a href="/arte-visual">Arte Visual</a>
		<a href="/audiovisual">Áudiovisual</a>
	</div>
</header>

<style>
.header-main {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 0 50px;
}

.logo {
	text-decoration: none;
	font-size: 2.2rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.logo:hover {
	color: var(--background-2);
	cursor: pointer;
}

.menu-top {
	display: flex;
	gap: 15px;
}

.menu-top > a {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--black);
}

.menu-top > a:hover {
	color: var(--background-2);
	cursor: pointer;
}
</style>
